#field-body {
    color: rgb(79, 79, 79);
    font-size: 1vw;
    font-weight: 600;
    border-radius: 5px;
    padding: 1vw 2vw;
    background-color: white;
    margin: 1vw;
    display: flex;
    justify-content: space-between;
}

#field-type {
    color: rgb(190, 190, 190);
}

#field-delete > img {
    width: 1vw;
    height: 1vw;
    cursor: pointer;
}