#fields-container-body {
    padding: 2vw;
    color: rgb(79, 79, 79);
}

#fields-container-header {
    font-size: 3vw;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}

#fields-count {
    font-size: 2vw;
    font-weight: 300;
    padding: 1vw 0;
}

#container-title-edit > img {
    width: 2vw;
    height: 2vw;
    margin: 0 1vw;
    cursor: pointer;
}

#add-field-button {
    border: 2px dotted rgb(78, 34, 198);
    color: rgb(78, 34, 198);
    font-size: 1vw;
    font-weight: 600;
    border-radius: 5px;
    padding: 1vw 2vw;
    background-color: rgb(233, 234, 241);
    text-align: center;
    margin: 1vw;
    cursor: pointer;
}