#content-type-container {
    box-sizing: border-box;
    padding: 1vw 3vw;
}

#add-content-type-button {
    border: 2px dotted rgb(78, 34, 198);
    color: rgb(78, 34, 198);
    font-size: 1vw;
    font-weight: 600;
    border-radius: 5px;
    padding: 1vw 2vw;
    background-color: rgb(233, 234, 241);
    text-align: center;
}