#landing-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: rgb(235, 238, 253);
}

#sidebar {
    width: 20vw;
    height: 100vh;
    background-color: rgb(39, 39, 39);
}

#main {
    width: 80vw;
    height: 100vh;
}

#landing-content {
    display: flex;
    flex-direction: row;
}

#container-1 {
    height: 100vh;
    width: 20vw;
    background-color: rgb(212, 214, 228);
}

#container-2 {
    height: 100vh;
    width: 60vw;
}